config ntpserver
	option hostname '172.16.1.2'
	option port     '123'
	option interface lan

#config ntpserver
#	option hostname '44.128.1.1'
#	option port     '123'
#	option interface mesh

config ntpdrift
	option freq     '0'

config ntpclient
	option interval	600
	#option interface lan
	#option count	10
