config olsrd
	# uncomment the following line to use a custom config file instead:
	#option config_file '/etc/olsrd.conf'
	option IpVersion '4'
	#option MainIp '<wifi_ip>'
#	option SmartGateway 'no'
#        option RtTable '111'
#        option RtTableDefault '112'
#	option TcRedudancy '2'
#	option Pollrate '0.025'
	option LinkQualityAlgorithm 'etx_ffeth'

config LoadPlugin
	option library 'olsrd_arprefresh.so.0.1'

config LoadPlugin
	option library 'olsrd_httpinfo.so.0.1'
	option port '1978'
	list Net '0.0.0.0 0.0.0.0'
	option Resolve 'true'

config LoadPlugin
	option library 'olsrd_txtinfo.so.0.1'
	option accept '127.0.0.1'
	option port '2006'

config LoadPlugin
	option library 'olsrd_jsoninfo.so.0.0'
	option accept '127.0.0.1'
	option port '9090'

#config LoadPlugin 
#	option library 'olsrd_secure.so.0.6'
#	option keyfile '/etc/olsrd.d/olsrd_secure_key'

#config LoadPlugin
#	option library 'olsrd_dot_draw.so.0.3'
#	option accept '127.0.0.1'
#	option port '2003'

config LoadPlugin
	option library 'olsrd_watchdog.so.0.1'
	option file '/tmp/olsrd.watchdog'
	option interval '30'

config Interface
	list interface 'mesh'
	option Mode 'mesh'
	option Ip4Broadcast '255.255.255.255'

#config Interface 
#        list interface 'dtdlink'
#        option Mode 'ether'

config LoadPlugin
	option library 'olsrd_nameservice.so.0.3'
	option sighup_pid_file '/var/run/dnsmasq.pid'
	option name_change_script 'touch /tmp/namechange'
	option suffix '.ampr.org'
	option interval '30'
	option timeout '300'
	option services_file '/var/run/services_olsr'
	option lat '53.597901'
	option lon '18.013754'
	option latlon_file '/var/run/latlon.js'
#	list service 'http://IPaddress:80|tcp|WWW Server'
#	list service 'http://IPaddress:8100|tcp|WebCam'
