config mini_snmpd
	option enabled 1
	option ipv6 0
	option community 'public'
	option contact 'HamNET'
	option location 'HamNET'

	# enable basic disk usage statistics on specified mountpoint
	list disks '/overlay'
	list disks '/tmp'

	# enable basic network statistics on specified interface
	# 4 interfaces maximum, as named in /etc/config/network
	#list interfaces 'loopback'
	#list interfaces 'lan'
	list interfaces 'mesh'
